    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Make It Happen!</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
		<div class="row">
        	<div class="col-md-6">
            	<p>Image goes here</p>
            </div>
      		<div class="col-md-4">
                <h1>Title Goes Here</h1>
                <p class="lead">Main Info</p>
                <p>Addiitonal Info</p>
     		</div>
        </div>
            <div class="row text-center">
                <div class="col-md-4">
                	<h3>Monetary Donations</h3>
                    <button id="moneyCollapse" class="btn btn-default btn-lg" data-toggle="collapse" data-target="#money"><b>Donate Money</b></button>
                </div>
                <div class="col-md-4">
                	<h3>Physical Donations</h3>
                    <button id="goodsCollapse" class="btn btn-default btn-lg" data-toggle="collapse" data-target="#goods"><b>Donate Goods</b></button>
                </div>
                <div class="col-md-4">
               	 	<h3>Are you a charity organization?</h3>
                    <button id="charityCollapse" class="btn btn-default btn-lg" data-toggle="collapse" data-target="#charity">Log In or Sign Up</button>
                </div>
            </div>
            <br>
	</div>
    <div class="bg-primary">
    <div class="container">
        <div class="row">
            <div id="money" class="collapse col-md-12">
           		<form>
                    <div class="col-md-5 form-group">
                     	<label>Name: </label><input type="text" class="form-control">
                    	<label>Address (Number and Street): </label><input type="text" class="form-control">
                        <label>ZIP Code: </label><input type="text" class="form-control">
                    </div>
                    <div class="col-md-5 form-group">
                       	<label>E-mail:</label><input type="text" class="form-control">
                    	<label>Payment Account: </label><input type="text" class="form-control">
                        <label>Expiration (mm/yyyy): </label><input type="text" class="form-control">
                    </div>
                    <div class="col-md-2 form-group">
                        <label><strong>All set?</strong></label>
                        <input type="submit" class="btn btn-default btn-md form-control" value="Continue" style="font-weight:bold">
                    </div>
                </form>
            </div>
            <div id="goods" class="collapse col-md-12">
                <%= form_for(@item) do |f| %>
                    <div class="col-md-5 form-group">
                    	<%= f.label :address, "Address (Number and Street): ", class:"control-label" %>
                    	<%= f.text_field :address, class:"form-control" %>
                        <%= f.label :zip, "ZIP Code: ", class:"control-label"%>
                        <%= f.text_field :zip, class:"form-control"%>
                        <%= f.label :email, "E-mail: ", class:"control-label" %>
                        <%= f.text_field :email, class:"form-control"%>
                    </div>
                    <div class="col-md-5 form-group">
                    	<%= f.label :name, "Item: " , class:"control-label"%>
                    	<%= f.text_field :name, class:"form-control"%>
                        <%= f.label :url, "Image URL: ", class:"control-label"%>
                        <%= f.text_field :url, class:"form-control"%>
                        <%= f.label :description, name:"Brief Description: ", class:"control-label" %>
                        <%= f.text_area :description, rows:"1", class:"form-control"%>
                    </div>
                    <div class="col-md-2 form-group">
                        <label><strong>All set?</strong></label>
                        <%= f.submit class:"btn btn-default btn-md form-control"%>
                    </div>
                <%end%>
            </div>
            <div id="charity" class="collapse col-md-12">
            <div class="col-md-4 form-horizontal">
            	<h4>Welcome Back!</h4>
            	<br>
            		<%= form_for(:session, url: login_path) do |f| %>
                	<%= render 'shared/error_messages' %>
                    	<div class="form-group">
                        	<div class="col-md-4"><%= f.label :email ,"E-mail: ", class:"control-label"%></div>
                        	<div class="col-md-8"><%= f.text_field :email, class:"form-control" %></div>
                    	</div>
                    	<div class="form-group">
                        	<div class="col-md-4"><%= f.label :password, "Password:", class:" control-label"%></div>
                        	<div class="col-md-8"><%= f.password_field :password, class:"form-control"%></div>
                    	</div>
                    <%= f.submit "Log in!", class:"btn btn-default btn-md form-control"%>
                	<%end%>
			</div>
		   	<div class="col-md-1 text-center">
				<h2><br><i>or</i></h2>
		   	</div>
		   	<div class="col-md-6 form">
		   		<div class="col-md-12">
					<h4>Sign Up!</h4>
				</div>
				<%= form_for(@charityorg) do |f| %>
				<div class="col-md-6 form-group">
					<%= f.label :email,"E-mail: ", class:"control-label" %>
					<%= f.text_field :email, class:"form-control" %>
					<%= f.label :name, "Organization Name: ", class:"control-label"%>
					<%= f.text_field :name, class:"form-control"%>
					<%= f.label :url, "URL (Optional): ", class:"control-label" %>
					<%= f.text_field :url, class:"form-control"%>
				</div>
				<div class="col-md-6 form-group">
					<%= f.label :address, "Address (Number and Street): ",class:"control-label"%>
					<%= f.text_field :address, class:"form-control" %>
					<%= f.label :zip, "ZIP Code: ",class:"control-label"%>
					<%= f.text_field :zip, class:"form-control"%>
					<%= f.label :password,  "Password: ", class:"control-label"%>
					<%= f.password_field :password, class:"form-control"%>
				</div>
				<div class="col-md-12 form-group">
					<%= f.submit "Sign up!", class:"btn btn-default btn-md form-control"%>
				</div>
                <%end%>
                <br>
        	</div>
        </div>
 	</div>
    </div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
	$("#moneyCollapse").click(function(){
		$("#goods").collapse("hide");
		$("#charity").collapse("hide");
	});
	$("#goodsCollapse").click(function(){
		$("#money").collapse("hide");
		$("#charity").collapse("hide");
	});
	$("#charityCollapse").click(function(){
		$("#money").collapse("hide");
		$("#goods").collapse("hide");
	});
</script>
